body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #3e8e41; */
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
.btn:hover {
  background-color: #3e8e41;
}
.input {
  width: 50%;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #3e8e41;
  border-radius: 10px;
  margin-bottom: 10px;
}
.label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.value {
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.notFoundText{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: red;
}
